---
layout: base.njk
title: Portfolio - Walter Moore
---
<!-- Hero Section -->
<section id="hero" class="bg-gradient-to-r from-blue-500 to-teal-400 text-white py-16">
  <div class="container mx-auto px-6 text-center">
    <h2 class="text-4xl font-extrabold">Bridging Technology and Business</h2>
    <p class="mt-4 text-lg">Entrepreneurial Engineer & Business Strategist. Leadership in SaaS, Innovation, & Client Solutions</p>
    <a href="/contact" class="mt-6 inline-block bg-white text-blue-500 px-6 py-3 rounded shadow hover:bg-gray-100">Let's Connect</a>
  </div>
</section>

<!-- About Section -->
<section id="about" class="py-16">
  <div class="container mx-auto px-6">
    <h3 class="text-3xl font-bold text-center mb-8">About Me</h3>
    <div class="w-full flex flex-row justify-center">
      <img src="/img/pfp.jpg" alt="Your Bio Picture" class="w-48 h-48 rounded-full shadow-lg">
    </div>
    <div class="mt-10 flex flex-col gap-4 w-full">
      <p class="mt-4 text-lg text-justify text-gray-700">
          {{about.introduction}}
      </p>
      <h3><span class="font-bold">LinkedIn: </span><a class="underline" href="{{about['linked-in-url']}}" target="_blank">{{about['linked-in-url']}}</a></h3>
      <h3><span class="font-bold">GitHub: </span><a class="underline" href="{{about['github-url']}}" target="_blank">{{about['github-url']}}</a></h3>
    </div>
  </div>
</section>

<!-- Navigation Section -->
<section id="projects" class="py-16">
  <div class="container mx-auto px-6">
    <h3 class="text-3xl font-bold text-center">LEARN MORE</h3>
    <div class="mt-10 grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="bg-white flex flex-col rounded-xl border border-2 h-full">
        <a href="/experience" class="flex flex-col">
          <img src="/img/experience.webp" alt="Project Image" class=" w-full aspect-square object-cover object-top rounded-t-xl">
          <div class="grow shrink flex flex-col justify-between p-6">
            <div class="flex flex-row justify-center">
              <h4 class="text-xl font-bold mt-4">EXPERIENCE</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="bg-white flex flex-col rounded-xl border border-2 h-full">
        <a href="/portfolio" class="flex flex-col">
          <img src="/img/project.webp" alt="Project Image" class=" w-full aspect-square object-cover object-top rounded-t-xl">
          <div class="grow shrink flex flex-col justify-between p-6">
            <div class="flex flex-row justify-center">
              <h4 class="text-xl font-bold mt-4">PORTFOLIO</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="bg-white flex flex-col rounded-xl border border-2 h-full">
        <a href="/contact" class="flex flex-col">
          <img src="/img/contact.webp" alt="Project Image" class=" w-full aspect-square object-cover object-top rounded-t-xl">
          <div class="grow shrink flex flex-col justify-between p-6">
            <div class="flex flex-row justify-center">
              <h4 class="text-xl font-bold mt-4">CONTACT</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="skill-chart" class="py-16">
  <div class="container mx-auto px-6">
    <h2 class="text-2xl text-center font-bold">Project Count By Skill</h2>
    <div class="chart-container w-full max-w-5xl h-[500px] mx-auto">
      <canvas id="skillsChart"></canvas>
    </div>
  </div>
</section>

<section id="tool-chart" class="py-16">
  <div class="container mx-auto px-6">
    <h2 class="text-2xl text-center font-bold">Project Count By Tool</h2>
    <div class="chart-container w-full max-w-5xl h-[800px] mx-auto">
      <canvas id="toolsChart"></canvas>
    </div>
  </div>
</section>

<section id="language-chart" class="py-16">
  <div class="container mx-auto px-6">
    <h2 class="text-2xl text-center font-bold">Project Count By Language</h2>
    <div class="chart-container w-full max-w-5xl h-[500px] mx-auto">
      <canvas id="languagesChart"></canvas>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  window.skillCounts = {{ collections.skillCounts | jsonify | safe }};
  document.addEventListener("DOMContentLoaded", () => {
  if (!window.skillCounts) {
    console.error("Skill data not found!");
    return;
  }

  const labels = window.skillCounts.map(item => item.skill);
  const data = window.skillCounts.map(item => item.count);

  const ctx = document.getElementById("skillsChart").getContext("2d");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: labels,
      datasets: [
        {
          label: "Skill Count",
          data: data,
          backgroundColor: "oklch(0.932 0.032 255.585)",
          borderColor: "oklch(0.488 0.243 264.376)",
          borderWidth: 1
        }
      ]
    },
    options: {
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: false,
      onClick: (event, elements) => {
        if (elements.length > 0) {
          const index = elements[0].index;
          const skill = labels[index];
          window.location.href = `/portfolio?skill=${encodeURIComponent(skill)}`;
        }
      },
      
      plugins: {
        legend: {
          display: false // 👈 Hides the legend
        },
      },
    }
  });
});
</script>

<script>
  window.toolCounts = {{ collections.toolCounts | jsonify | safe }};
  document.addEventListener("DOMContentLoaded", () => {
  if (!window.toolCounts) {
    console.error("Tool data not found!");
    return;
  }

  const labels = window.toolCounts.map(item => item.tool);
  const data = window.toolCounts.map(item => item.count);

  const ctx = document.getElementById("toolsChart").getContext("2d");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: labels,
      datasets: [
        {
          label: "Tool Count",
          data: data,
          backgroundColor: "oklch(0.973 0.071 103.193)",
          borderColor: "oklch(0.554 0.135 66.442)",
          borderWidth: 1
        }
      ]
    },
    options: {
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: false,
      onClick: (event, elements) => {
        if (elements.length > 0) {
          const index = elements[0].index;
          const tool = labels[index];
          window.location.href = `/portfolio?tool=${encodeURIComponent(tool)}`;
        }
      },
      
      plugins: {
        legend: {
          display: false // 👈 Hides the legend
        },
      },
    }
  });
});
</script>

<script>
  window.languageCounts = {{ collections.languageCounts | jsonify | safe }};
  document.addEventListener("DOMContentLoaded", () => {
  if (!window.languageCounts) {
    console.error("Language data not found!");
    return;
  }

  const labels = window.languageCounts.map(item => item.language);
  const data = window.languageCounts.map(item => item.count);

  const ctx = document.getElementById("languagesChart").getContext("2d");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: labels,
      datasets: [
        {
          label: "Language Count",
          data: data,
          backgroundColor: "oklch(0.962 0.044 156.743)",
          borderColor: "oklch(0.527 0.154 150.069)",
          borderWidth: 1
        }
      ]
    },
    options: {
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: false,
      onClick: (event, elements) => {
        if (elements.length > 0) {
          const index = elements[0].index;
          const language = labels[index];
          window.location.href = `/portfolio?language=${encodeURIComponent(language)}`;
        }
      },
      
      plugins: {
        legend: {
          display: false // 👈 Hides the legend
        },
      },
    }
  });
});
</script>